body {
  background-color: #9FDDEB;
  font-size: 100%;
}

.style {
  font-family: Arial, Helvetica, sans-serif;
  color: #0000ff;
  font-weight: bold;
  font-size: 24px; 
  text-align: right;  
}


/********** Base styles **********/
* {
 box-sizing: border-box;
 text-transform: capitalize;
}


h1 {
 margin-bottom: 15px;
 text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
 text-align: center;  
}


.rec {
  height: 50px;
  width: 100px;
  background-color: #505050;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  overflow: auto;
  }


div.text {
  border: 2px solid white;
  border-radius: 5px;
  background-color: #A52A2A;
  height: 150px;
  margin-right: 15px;
  font-family: Helvetica;
  color: white;
  position: relative;
  text-align: left;
  overflow: auto;
}


p{
 margin:  auto;
 text-align: left;
 position: relative;
 top: 55px;
 font-size: 15px;
 padding-left: 10px;
 overflow-wrap: anywhere;
}


/* Simple Responsive Framework. */
.row {
 width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /*border: 1px solid green;***********/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    /*border: 1px solid green;***********/
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

